<div style="float:left;margin:0">
Dear  <%= @seller_name %>,<BR/><BR/>


You have received an order for your listing at SecondCry. You MUST go to the link below to either accept the order or decline it:<br/>
<a href="<%= @transaction_url%>" target="_blank"><%=@transaction_url%></a><br/><br>

<b>Payment Details:</b><BR/>
Transaction ID: <%= @transaction_id %><BR/>
Amount: Rs.<%= @payment_amount %><BR/>
Order Date: <%= @payment_datetime %><BR/>
<BR/>

<b>Listing Details:</b><BR/>
<a href=<%= @listing_url%>" target="_blank"><%=@listing_title%></a>
<BR/><BR/>

For any information pertaining to the status of your order, you can reply back to the same email or call us at +91-8095117799.<BR/><BR/>

Best Regards,<BR/>
SecondCry Team
</div>
