= render :partial => "conversations/conversation_header", locals: {other_party: conversation_other_party}

.centered-section-wide
  = render :partial => "transactions/details", locals: {role: role, tx: transaction, transaction_model: transaction_model, listing: listing, is_author: is_author, price_break_down_locals: price_break_down_locals}

  - if @address_button == 1 || transaction_model.order_status == 'order accepted'
    = render :partial => "transactions/seller_address", locals: {transaction_model: transaction_model}

  = render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages, address_button: address_button, transaction_model: transaction_model}

  - if transaction_model.order_status == 'payment successfull'
    = render :partial => "layouts/google_conversion"
    = render :partial => "/layouts/transaction_code", locals: {transaction_model: transaction_model, listing: listing}
