#footer
  = image_tag 'footer.png', style: "bottom:0; width: 100%; position: absolute; z-index: -1"
  .row
    .col-3
    .col-4
      .about-us 
        .title
          About us
        .content
          = link_to "/" do
            = icon_tag("home", ["icon-with-text"])
            = t("header.home")
          %br
          = link_to "/info/" do
            = icon_tag("information", ["icon-with-text"])
            = t("header.how_it_works")
          %br
          = link_to privacy_infos_path do
            = icon_tag("lock", ["icon-with-text"])
            Privacy Policy
          %br
          = link_to terms_infos_path do
            = icon_tag("terms", ["icon-with-text"])
            = t("layouts.infos.terms")
          %br
          = link_to new_user_feedback_path do
            = icon_tag("feedback", ["icon-with-text"])
            = t("header.contact_us")
    .col-4
      .about-us
        .title
          My Account
        .content
          = link_to "/en/my/inbox" do
            = icon_tag("mail", ["icon-with-text"])
            = t("layouts.conversations.messages")
          - if @current_user && @current_community
            %br
            = link_to person_path(@current_user, :show_closed => true) do
              = icon_tag("list", ["icon-with-text"])
              = t("footer.manage_listings")
            %br
            = link_to person_settings_path(@current_user) do
              = icon_tag("settings", ["icon-with-text"])
              = t("layouts.logged_in.settings")
          %br
          = link_to new_invitation_path do
            = icon_tag("invite", ["icon-with-text"])
            = t("header.invite")
          %br
          %br
          %br
          %br
    .col-1
